.maincontainer {
    width: min(100%, 1440px);
    margin: auto;
}

/* header  */

header {
    display: flex;
    align-items: center;
    padding: 52px 98px;
    justify-content: space-between;
}

.headerul {
    display: flex;
    column-gap: 50px;
}

.headertext {
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    color: #758BFD;
}

.active {
    color: #27187F;
}

.search {
    width: 222px;
    height: 56px;
    border-radius: 10px;
    border: 3px solid #758BFD;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.fa-solid {
    width: 23.33px;
    height: 23.33px;
    color: #758BFD;
}

/* section  */

section {
    margin: auto;
    padding: 94px 98px 135px;
    background-color: #DDEAF8;
}

.sectiontitle {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 36.77px;
    color: #27187F;
    margin-bottom: 68px;
}

.sectiondiv {
    display: flex;
    flex-wrap: wrap;
    column-gap: 22px;
    row-gap: 51px;
}

.sectioncards {
    width: 400px;
    height: 333px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 33px 30px;
}

.sectionimage {
    width: 100%;
    height: 188px;
}

.sectiontext {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.98px;
    margin-top: 33px;
}

/* footer  */
footer {
    /* width: 1440px; */
    background-color: #758BFD;
    padding: 75px 98px 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacttitle {
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.socials {
    display: flex;
    margin-top: 20px;
    width: 114px;
    justify-content: space-between;
}

.payment {
    display: flex;
    column-gap: 11px;
}